/* public/fonts.css */

@font-face {
    font-family: 'Disney Heroic';
    src: url('DisneyHeroic.ttf') format('truetype');
    /* Additional font properties (font-weight, font-style) if needed */
  }
  
  @font-face {
    font-family: 'Graduate Regular';
    src: url('Graduate-Regular.ttf') format('truetype');
    /* Additional font properties (font-weight, font-style) if needed */
  }