<div class="page">
  <div class="background">
    <img src="../assets/images/eros.png" alt="eros" class="bg-image eros" />
    <img
      src="../assets/images/houses.png"
      alt="houses"
      class="bg-image houses"
    />
    <img
      src="../assets/images/houses.png"
      alt="houses"
      class="bg-image houses2"
    />
    <img
      src="../assets/images/couple.png"
      alt="couple"
      class="bg-image couple"
    />
    <img
      src="../assets/images/leaves.png"
      alt="leaves"
      class="bg-image leaves"
    />
    <img
      src="../assets/images/mountain.png"
      alt="mountain"
      class="bg-image mountain"
    />
  </div>

  <div class="login-container">
    <div class="player-select" (clickOutside)="isDropdownVisible = false">
      <input
        type="text"
        placeholder="Search your name..."
        (input)="onSearchInput($event)"
        [(ngModel)]="selectedPlayer"
        (focus)="isDropdownVisible = true"
      />

      <span
        class="arrow"
        [class.rotated]="isDropdownVisible"
        (click)="toggleDropdown($event)"
        >▼</span
      >

      <ul class="dropdown" *ngIf="isDropdownVisible && filteredPlayers.length">
        <li *ngFor="let player of filteredPlayers" (click)="onSelect(player)">
          {{ player }}
        </li>
      </ul>
    </div>
  </div>
</div>
