<!-- <header>
  <div class="left">
    <img src="../../../assets/images/logo.png" alt="Logo" class="logo" />
    <h1>twhinder</h1>
  </div>
  <button class="logout" (click)="logout()">Logout</button>
</header> -->
<app-header></app-header>

<main class="home">
  <div class="title">
    <h2>Seus chars</h2>
    <p>Escolha um para ver detalhes</p>
  </div>

  <ul class="card-grid">
    <li *ngFor="let char of characters" class="card">
      <div class="card-content">
        <img [src]="char.avatar" [alt]="char.name" />

        <h3 class="name">{{ char.name }}</h3>
        <p class="god">{{ char.god }}</p>
        <p class="level-summer">
          Nível {{ char.level }}, Verão {{ char.summer }}
        </p>
        <a [href]="char.fileLink" class="btn" target="_blank">Ficha</a>
      </div>
    </li>
  </ul>
</main>
