/* src/assets/variables.css */

:root {
    --pink-primary: #E75A9E; /* Exemplo: azul primário */
    --pink-secondary: #FFB9DB; /* Exemplo: cinza secundário */
    --black-primary: #141313; /* Exemplo: amarelo de destaque */
    --black-secondary: #00000080; /* Exemplo: amarelo de destaque */
  }
  